sudo: required

services:
  - docker

before_install:
  - sudo pip install docker-compose

before_script:
  - docker-compose up --build -d

script:
  - ./test.sh

after_script:
  - docker-compose down
